{include file="public:header"/}

<style>
    .subject {
        height: 130px;
        background-color: #FFFFFF;
        border: 1px solid #e6e6e6;
        border-bottom: 1px solid #bfbfbf;
        margin-bottom: 15px;
        list-style: none;
    }
</style>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {volist name="testData" id="test" empty="$empty"}
        <div>
            <h3>{$i}.{$test.title}</h3>
            <div>

            </div>
        </div>
        {/volist}
    </div>
    <div class="col-md-2"></div>
</div>

{include file="public:footer"/}