<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title|default="页面标题"}</title>
    <!--tp5新标签-->
    {load href="/static/css/bootstrap.css"/}
    {load href="/static/js/jquery.min.js"/}
    {load href="/static/js/bootstrap.js"/}

</head>
<body style="width: 100%;height: 100%;background-color: #e6e6e6">
<div class="container">

    <div class="col-md-12" style="margin-top: 20px">
        <!--导航栏-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <h4 class="navbar-text" style="margin-right: 30px">在线学习系统</h4>
                    <ul class="nav navbar-nav">
                        <!--volist是tp5的循环标签-->
                        {volist name="cate" id="cate"}
                        <li
                                {eq name="$cate.id" value="$Request.param.cate_id" }
                                class="active"
                                {/eq}
                        ><a href="{:url('index/index',['cate_id'=> $cate.id])}">{$cate.name}</a></li>
                        {/volist}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {if $Think.session.user_id}
                        <li><a>{$Think.session.user_name}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {if $Think.session.is_admin==1||$Think.session.is_admin==2}
                                <li><a href="/admin">管理后台</a></li>
                                {/if}
                                <li><a href="{:url('user/logout')}">退出登录</a></li>
                            </ul>
                        </li>
                        {else/}

                        <li><a href="{:url('user/login')}">登录</a></li>
                        <li><a href="{:url('user/register')}">注册</a></li>

                        {/if}
                    </ul>
                </div>
            </div>
        </nav>
