{layout name="public:layout"/}
<h4 class="text-center">考试列表</h4>
<table class="table table-hover text-center">
    <tr>

        <td>开始名称</td>
        <td>考试得分</td>
        <td>操作</td>
    </tr>
    {volist name="examList" id="exam" empty="$empty"}
    <tr>
        <td>{$exam.name}</td>
        <!--<td id="score">{$exam.score}</td>-->
        <td id="edit"><input type="number" id="{$exam.id}" value="{$exam.score}"/></td>

        <td><a onclick="return isEdit();">修改</a></td>

    </tr>
    {/volist}
</table>
<!--分页-->
<script>
    function isEdit() {
        if (confirm('确认修改')) {
            Edit()
            return true;

        } else {
            return false;
        }
    }

    function Edit() {

        let Data = {};
        Data['id'] = $('#edit').find('input').attr('id');
        Data['score'] = $('#edit').find('input').val();
        console.log(Data)
        $.ajax({
            url: "{:url('EditScore')}",
            type: 'post',
            data: Data,
            success: function (data) {
                alert(data.msg)
            },
            error: function (data) {
                console.log(data)
            }
        })

    }

</script>

