{layout name="public:layout"/}
<h4 class="text-center">用户列表</h4>
<table class="table table-hover text-center">
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>邮箱</td>
        <td>注册时间</td>
        <td>状态</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="userList" id="user" empty="$empty"}
    <tr>
        <td>{$user.id}</td>
        <td>{$user.name}</td>
        <td>{$user.email}</td>
        <td>{$user.create_time}</td>
        <td>{$user.is_admin}</td>
        {eq name="$user.id" value="$Think.session.user_id"}
        <td><a href="{:url('user/userEdit',['id'=>$user.id])}">编辑</a></td>
        {/eq}
        {neq name="$user.id" value="$Think.session.user_id"}
        <td><a href="{:url('user/doDelete',['id'=>$user.id])}" onclick="return isDelete();">删除</a></td>
        {/neq}
    </tr>
    {/volist}
</table>
<!--分页-->
<div class="text-center">{$userList|raw}</div>
<script>
    function isDelete() {
        if (confirm('确认删除')) {
           return true;
        }else {
            return false;
        }
    }
</script>

