{include file="public:header"/}
<h4 class="text-center text-danger">编辑用户信息</h4>
<form method="post" action="{:url('user/doEdit')}">
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <input name="name" class="form-control" value="{$userInfo.name}">
    </div>
    <div class="form-group">
        <label>邮箱</label>
        <input name="email" class="form-control" value="{$userInfo.email}">
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="password" name="password" class="form-control" value="{$userInfo.password}">
    </div>
    <input type="hidden" name="id" value="{$userInfo.id}">
    <button type="submit" class="btn btn-primary" id="register">提交</button><span id="message" style="margin-left:20px;color: red"></span>
</form>

<h4 class="text-center">考试列表</h4>
<table class="table table-hover text-center">
    <tr>

        <td>考试名称</td>
        <td>考试得分</td>
    </tr>
    {volist name="examList" id="exam" empty="$empty"}
    <tr>
        <td>{$exam.name}</td>
        <td id="score">{$exam.score}</td>
    </tr>
    {/volist}
</table>

<div class="col-md-12">
    <h4 class="text-center">视频列表</h4>
    <ul style="list-style: none;">
        {volist name="videoData" id="test" empty="$empty"}
        <li style="margin-bottom: 50px;display: inline-block">
            <h5>{$i}</h5>
            <!--视频列表-->
            <a href="{:url('user/VideoDetail',['id'=> $test.id])}">
                <video style="width: 330px">
                    <source src="/uploads/{$test.video_url}" type="video/mp4"/>
                </video>
            </a>
            <!--题目列表标题-->
            <h5>{$test.title}</h5>
        </li>
        {/volist}
    </ul>
</div>



{include file="public:footer"/}